<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">后台管理</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="./admin">数据集管理</a>
                        </li>
                        <li class="active">
                            <a href="#">用户管理</a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="./index">首页</a>
                        </li>

                    </ul>
                </div>

            </nav>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        名字
                    </th>
                    <th>
                        邮箱
                    </th>

                    <th>

                    </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="d: ${user}"  >

                    <td th:text="${d.id}">

                        1

                    </td>
                    <td th:text="${d.name}">
                        名字
                    </td>
                    <td th:text="${d.email}">
                      邮箱
                    </td>

                    <td>

                        <a type="button" class="btn btn-danger btn-xs" href="#" th:href="${'./deleteUser/'+d.id}">删除</a>
                    </td>

                </tr>




                </tbody>
            </table>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>